body{
    background-color: rgb(39, 38, 49);
    font-family: 'Exo 2', sans-serif;
    background-image: url('../images/backgroud1.jpg');
    background-attachment: fixed;
    z-index: 0;
}
.navbar{
    transition: all .2s ease-in-out 0s;
    background-color: rgba(0, 0, 0, 0.158);
    border-bottom: 4px solid rgb(201, 53, 53);
}
.main{
    padding-top: 50px;
    background-color: rgb(202, 202, 202);
    min-height: 700px;
    height: 100%;
    border-top: 2px solid rgb(201, 53, 53);
}
.underNav{
    color: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    background-color: rgba(46, 46, 46, 0.63);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(201, 53, 53);
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}
.navbar-dark .nav-link.active, .navbar-dark .navbar-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}
.navbar-dark .nav-link.active, .nav-link::before {
    content: ' ';
    position: relative;
    background-color: rgb(201, 53, 53);
    height: 100%;
}
.navbar-dark .nav-link:hover {
    color: #fff;
    content: ' ';
    position: relative;
    z-index: 0;
    background-color: rgb(201, 53, 53);
    height: 100%;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
.form-control{
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(201, 53, 53);
    color: #fff;
    transition: .1s ease-in 0s;
}
.form-control:focus{
    box-shadow: none;
    border-color: none;
    border: 2px solid rgb(201, 53, 53);
}
#navSearchResult{
    word-wrap: break-word;
    min-width: 100%;
}
.dropdown-item{
    word-wrap: break-word;
    min-width: 100%;
}
.btn{
    border-radius: 5px;
    box-shadow: none;
}
.pageBlock{
    margin-bottom: 50px;
    padding: 15px;
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.dropdown-menu{
    top: 20px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgb(201, 53, 53);
    background-color: rgba(59, 59, 59, 0.699);
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}
#navSearchResult .dropdown-item{
    white-space: pre-wrap;
}
.player{
    text-align: center;
    color: #fff;
    background-color: #1e2125   ;
    border-radius: 10px;
    border: 3px solid rgb(201, 53, 53);
    padding-top: 10px;
    padding-bottom: 80px;
    height: 550px;
    z-index: 9999!important;
}
.player .pTabs{
    background-color: #1e2125;
    border-bottom: 2px solid rgb(201, 53, 53);
    padding-bottom: 10px;
    z-index: 9999!important;
}
#player{
    padding: 50px;
    z-index: 9999!important;
    border-bottom: 2px solid rgb(201, 53, 53);
}
hr{
    color: rgb(201, 53, 53);
    opacity: 1;
}
.posterAlert{
}
.card{
    border-radius: 10px;
}
.rounded-3, .rounded-2, .rounded{
    border-radius: 10px!important;
}
.input-group-text{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-right: 0;
}
.input-group .form-control{
    border: 0;
}
.input-group{
    border-radius: 10px;
    border: 2px solid rgb(201, 53, 53);
}
.card:hover{
    border: 3px solid rgb(201, 53, 53);
}
.card{
    border: 3px solid rgba(201, 53, 53, 0);
    transition: border .1s ease-in-out 0s;
}
#releases a{
    text-decoration: none;
}
.btn-filter .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-filter{
    color: rgb(87, 87, 87);
    padding: 5px;
    min-height: 35px;
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: start;
}

.btn-filter:hover{
    border: 1px solid rgb(134, 134, 134);
}
#filter .dropdown-menu{
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(201, 53, 53);
    max-height: 250px;
    overflow-y: scroll;
}
#filter .dropdown-item{
    color: #000;
    
}
.form-check-input:checked {
    background-color: rgb(201, 53, 53);
    border-color: rgb(201, 53, 53);
}
.form-check-input:focus {
    border-color: rgba(201, 53, 53, 0.233);
    outline: 0;
    box-shadow: none;
}
.wrapper::before{
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    content: ' ';
    background-color: #1e212563!important;
}
.torrent{
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}
.footer a{
    transition: color .1s ease-in-out 0s;
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    text-decoration: none;
    color: rgb(201, 53, 53);
}
.lastUpdateItem img{
    height: 170px;
    object-fit: cover;
    border: 2px solid rgba(201, 53, 53, 0);
    transition: border .1s ease-in-out 0s;
}
.lastUpdateItem:hover img{
    border: 2px solid rgb(201, 53, 53);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(201, 53, 53);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

.navbarPanel {
    position: relative;
    top: 0;
    z-index: 10;
}
.calendar{
    color: #000;
    text-decoration: none;
    padding: 5px;
    display: flex;
    transition: .1s ease-in-out 0s;
    border-radius: 10px;
    border: 1px solid rgba(136, 136, 136, 0.342);
}
.calendar:hover{
    color: rgb(201, 53, 53);
    border: 1px solid rgb(201, 53, 53);
}
.calendar img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.calendar-img{
    padding-right: 10px;
    
}
.calendar-body{

}

.day{
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    background-color: rgb(201, 53, 53);
    border-radius: 10px;
}
.accordion{

}
.accordion-item{
    border: none;
    padding: 2px;
}
.accordion-header{
    text-align: center;
    border-radius: 10px;
}
.accordion-button{
    background-color: rgb(228, 228, 228);
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;    
    font-weight: 600;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    border: 0;
    z-index: 0;
    box-shadow: none;
    border-radius: 10px;
}
.accordion-button:hover {
    background-color: rgba(201, 53, 53, 0.466);
}
.accordion-button:not(.collapsed) {
    border-radius: 10px 10px 0 0;
    background-color: rgb(201, 53, 53);
    color: rgb(255, 255, 255);
    box-shadow: none;
    
}
.accordion-button:focus {
    z-index: 3;
    border-color: #00000000;
    outline: 0;
    box-shadow: none;
}
.accordion-body{
    border-right: 1px solid rgb(201, 53, 53);
    border-left: 1px solid rgb(201, 53, 53);
    border-bottom: 1px solid rgb(201, 53, 53);
    border-radius: 0 0 5px 5px;
    border-top:  none;
}