body{
    background-color: rgb(39, 38, 49);
    font-family: 'Exo 2', sans-serif;
    background-image: url('../images/backgroud1.jpg');
    background-attachment: fixed;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.158);
    border-bottom: 4px solid rgb(201, 53, 53);
}
.main{
    padding-top: 50px;
    background-color: rgb(202, 202, 202);
    min-height: 700px;
    height: 100%;
    border-top: 2px solid rgb(201, 53, 53);
}
.underNav{
    color: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    background-color: rgb(46, 46, 46);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid rgb(201, 53, 53);
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.navbar-nav{
    padding-top: 10px;
}
.navbar-dark .nav-link.active, .navbar-dark .navbar-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 10px 10px 0  0;
}
.navbar-dark .nav-link.active, .nav-link::before {
    border-radius: 10px 10px 0  0;
    content: ' ';
    position: relative;
    background-color: rgb(201, 53, 53);
    height: 100%;
}
.navbar-dark .nav-link:hover {
    border-radius: 10px 10px 0  0;
    color: #fff;
    content: ' ';
    position: relative;
    z-index: 0;
    background-color: rgb(201, 53, 53);
    height: 100%;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
.form-control{
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(201, 53, 53);
    color: #fff;
    transition: .1s ease-in 0s;
}
.form-control:focus{
    box-shadow: none;
    border-color: none;
    border: 2px solid rgb(201, 53, 53);
}
#navSearchResult{
    word-wrap: break-word;
    min-width: 100%;
}
.dropdown-item{
    word-wrap: break-word;
    min-width: 100%;
}
.btn{
    border-radius: 10px;
    border: none;
    box-shadow: none;
}
.btn:hover{
    box-shadow: 4px 4px 0px 1px rgba(21, 21, 21, 0.34);
}
.pageBlock{
    margin-bottom: 50px;
    padding: 15px;
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.dropdown-menu{
    top: 20px;
    transition: all .5s ease-in-out 0s;
    margin-top: -2px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgb(201, 53, 53);
    background-color: rgba(59, 59, 59, 0.699);
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}
#navSearchResult .dropdown-item{
    white-space: pre-wrap;
}
.player{
    text-align: center;
    color: #fff;
    background-color: #1e2125   ;
    border-radius: 10px;
    border: 3px solid rgb(201, 53, 53);
    padding-top: 10px;
    padding-bottom: 60px;
    height: 550px;
}
.player .pTabs{
    background-color: #1e2125;
    border-bottom: 2px solid rgb(201, 53, 53);
    padding-bottom: 10px;
}
#player{
    padding: 50px;
    border-bottom: 2px solid rgb(201, 53, 53);
}